nav {
	border-bottom: 2.5px solid #9370db;
	z-index:  100000000000;
}

.nav-bar {
	z-index:  100000000000;
}
.nav-container {
	padding-left: 0;
}

.nav-link {
	text-transform: uppercase;
}
.header-image {
	max-width: 150px;
	transition: all .5s;
	border: 1px solid #efefef;
}

.header-image:hover {
  transform: scale(1.1) rotate(2deg);
}

.jumbotron {
	background: url('images/philadelphia.jpg');
	background-size: cover;
}

.card {
	border: 2px solid #9370db;
}

.card-img-overlay {
	visibility: hidden;
	background: #43265c;
	opacity: .8;
	border-radius: .25rem;
	border: 5px solid #43265c;
}

.btn-primary-outline {
	color: #43265c;
	border-color: #43265c;
}

 .btn:hover {
	background-color: #43265c;
	border: #43265c;
}

.btn:focus, .btn:active {
	background-color: #43265c;
	border: #43265c;
}

.card-inverse .card-text {
	color: #fff;
}

.card {
	position: relative;
}

.btn-card {
	position: absolute;
	bottom: 15px;
	margin: 10px auto;
	z-index: 100;
	color: #fff!important;
	border-color: #fff!important;
	visibility: hidden;
}

.mobile-card-title {
	color: #43265c!important;
	text-align: center;
}

.btn-mobile {
	visibility: hidden;
}

.bg-primary {
	background-color: #43265c!important;
}


