body {
	font-family: 'Open Sans', sans-serif;
}
nav {
	border-bottom: 2.5px solid #9370db;
	z-index:  100000000000;
}

a {
	color: #9370db;
	text-decoration: none;
}

a:hover {
	color: #e0d6f5;
	text-decoration: none;
}

footer {
	border-top: 2.5px solid #9370db;
}

.nav-bar {
	z-index:  100000000000;
}

nav {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.5rem;
}

.navbar-brand {
	font-size: 1.7rem;
}

.navbar-brand .small {
	font-size: 70%;
}
.nav-container {
	padding-left: 0;
}

.nav-link {
	text-transform: uppercase;
}
.header-image {
	max-width: 150px;
	transition: all .5s;
	border: 1px solid #efefef;
}

.header-image:hover {
  transform: scale(1.1) rotate(2deg);
}

.jumbotron {
	background: url('images/philadelphia.jpg');
	background-size: cover;
}

h1 {
	font-family: 'Pathway Gothic One', sans-serif;
}

.card-img-overlay {
	visibility: hidden;
	background: rgba(67, 38, 92, .9);
	border-radius: .25rem;
	border: 5px solid #43265c;
}

.card {
	-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}

.btn-primary-outline {
	color: #43265c;
	border-color: #43265c;
}

 .btn:hover {
	background-color: #43265c;
	border: #43265c;
}

.btn:focus, .btn:active {
	background-color: #43265c;
	border: #43265c;
}

.btn-card:focus, .btn-card:active, .btn-card:hover {
	border: #fff!important;
}

.card-inverse .card-text {
	color: #fff;
}

.card {
	position: relative;
}

.btn-card {
	position: absolute;
	bottom: 15px;
	margin: 10px auto;
	z-index: 100;
	color: #fff!important;
	border-color: #fff!important;
	visibility: hidden;
}

.mobile-card-title {
	color: #43265c!important;
	text-align: center;
}

.btn-mobile {
	visibility: hidden;
}

.bg-primary {
	background-color: #43265c!important;
}

.social {
	max-width: 50px;
	max-height: 50px;
	fill: #9370db;
}

.social:hover {
	fill: #c2adeb;
}

footer h1 {
	font-size: 1.75rem;
	text-transform: uppercase;
}

.card-text small, .card-text .small {
	font-size: 90%;
}
p {
	font-size: .85rem;
}

.modal-header {
	border-bottom: none;
}

.modal-body img {
	border: 1px solid #c2adeb;
	border-radius: .25rem;
	margin-bottom: 1rem;
}